* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

@media only screen and (max-width: 810px) {
    .widgets,
    .sidebar {
        display: none;
    }
    .feed {
        flex: 1 !important;
    }
}

@media only screen and (min-width: 811px) and (max-width: 1145px) {
    .widgets {
        display: none;
    }
    .feed {
        flex: 0.7 !important;
    }
    .sidebar {
        flex: 0.3 !important;
    }
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption .material-icons,
.fa-twitter {
    padding: 20px;
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption.active {
    color: var(--twitter-color);
}

.sidebar_tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 3rem;
    margin-top: 1.5rem;
}

body {
    display: flex;
    height: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    align-self: flex-start;
    position: sticky;
    top: 0;
}

.fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
}


/* Sidebar Styling Ends */


/* Feed Styling Starts */

.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    align-self: flex-start;
    margin-top: 16px;
}

.feed_header {
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 1;
    background-color: white;
}

.feed_header h2 {
    font-size: 20px;
    font-weight: 800;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Styling Tweetbox Starts */

.tweetbox__input img {
    border-radius: 50%;
    height: 2rem;
}

.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox form {
    display: flex;
    flex-direction: column;
}

.tweetbox__input {
    display: flex;
    padding: 20px;
}

.tweetbox__input input {
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 5rem;
    height: 2.5rem;
    margin-top: 20px;
    margin-left: auto;
}


/* Styling Tweetbox Ends */


/* Feed Styling Ends */


/* Post Styling Starts */

.post__avatar img {
    border-radius: 50%;
    height: 40px;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post__body img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post__headerText {
    font-size: 15px;
    margin-bottom: 5px;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 20px;
}


/* Post Styling Ends */


/* Widgets Styling Starts */

.widgets {
    flex: 0.3;
    right: 0;
    right: 0;
    align-self: flex-start;
    position: sticky;
    top: 0;
}

.widgest__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgest__input input {
    border: none;
    background-color: var(--twitter-background);
    outline: none;
}

.widgets__searchIcon {
    color: gray;
}

.widgets__widgetContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
}

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10rem;
}

.card img {
    border-radius: 20px;
    width: 100%;
}


/* Widgets Styling Ends */